In [16]:
import yaml
import pandas as pd

def read_credentials(credential_file_path):
    with open(credential_file_path) as f:
        cfg = yaml.load(f, Loader=yaml.FullLoader)
    return cfg


config = read_credentials('credentials.yaml')
config

{'hostname': 'bpd9p.h.filess.io',
 'database': 'database_wheneverof',
 'port': 5432,
 'username': 'database_wheneverof',
 'password': 'b2bf3de4d74d8d014fc7370f7b911feeba371894',
 'schema_name': 'myschema',
 'table_name': 'machine_data'}

In [ ]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine
 
# Connection details
hostname = config.get("hostname", "")
database = config.get("database", "")
port = config.get("port", "")
username = config.get("username", "")
password = config.get("password", "")


schema_name = config.get("schema_name", "")
table_name = config.get("table_name", "")

 
# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():

    connection_string = f"postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{database}"
    return create_engine(connection_string)

In [18]:
engine  = get_connection()

In [19]:
schema_name = "myschema"
table_name = "machine_data"

In [20]:
# Read the table into a pandas DataFrame
query = f'SELECT * FROM {schema_name}.{table_name}'

In [ ]:
df = pd.read_sql(query, con=engine)

In [22]:
df.head() # Show first 5 rows

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,machine_failure,twf,hdf,pwf,osf,rnf
0,3416,L50595,L,301.4,310.4,1579,36.9,133.0,0,0,0,0,0,0
1,7130,L54309,L,300.6,310.0,1635,31.0,107.0,0,0,0,0,0,0
2,2320,M17179,M,299.2,308.8,1700,33.5,185.0,0,0,0,0,0,0
3,9601,M24460,M,298.9,310.0,1561,45.3,58.0,0,0,0,0,0,0
4,614,L47793,L,298.1,309.9,1634,30.0,53.0,0,0,0,0,0,0

In [23]:
engine.dispose()
print("ðŸ”’ Engine disposed and connection fully closed.")

ðŸ”’ Engine disposed and connection fully closed.

In [24]:
from db_utils import RDSDatabaseConnector

database = RDSDatabaseConnector('credentials.yaml')

In [25]:
df = database.extract_data()
df.head()

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,machine_failure,twf,hdf,pwf,osf,rnf
0,3416,L50595,L,301.4,310.4,1579,36.9,133.0,0,0,0,0,0,0
1,7130,L54309,L,300.6,310.0,1635,31.0,107.0,0,0,0,0,0,0
2,2320,M17179,M,299.2,308.8,1700,33.5,185.0,0,0,0,0,0,0
3,9601,M24460,M,298.9,310.0,1561,45.3,58.0,0,0,0,0,0,0
4,614,L47793,L,298.1,309.9,1634,30.0,53.0,0,0,0,0,0,0